@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Background images */
.background {
    position: fixed;
    top:0; left:0;
    width:100%; height:100%;
    z-index: -2;
    overflow: hidden;
}

.background .slide {
    position: absolute;
    top:0; left:0;
    width:100%; height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.6);
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.background .slide.active {
    opacity: 1;
}

/* Slogans */
.slogans {
    position: fixed;
    top: 10%;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.slogan {
    font-size: 28px;
    color: #fff;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slogan.active {
    opacity: 1;
}


/* Form container */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.269);
    padding: 30px;
    border-radius: 12px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    z-index: 2;
    border: 1px #ffff solid;
}

/* Header */
.entet p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

/* Form */
.form-boutique label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
    color: #aaa;
}

.form-boutique input,
.form-boutique select {
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-size: 16px;
}

.form-boutique button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #8282f3;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.form-boutique button:hover {
    background-color: #5a5acf;
}
